.radiobutton{
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #A1D43D;
  color: #FFF;
  border: 0px solid transparent;
  border-bottom: 3px solid #85AF32;
  border-top: 3px solid transparent;
  border-radius: 5px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
  -moz-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
  -webkit-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
  -ms-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
  -o-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
}
.radiobutton:hover{
  background-color: #A8DC3F;
}
.radiobutton:active, .radiobutton.selected{
  background-color: #85AF32;
  border-top: 3px solid #547F18;
  border-bottom-color: transparent;
  color: #DDD;
}
button::-moz-focus-inner {
  border: 0px;
}
